
/* GENERAL */

* {

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {

    font-weight: 800;
    font-size:1.2rem;
    color:#293264;
}


#intro-title {

    font-size:2.5rem;
    color:#293264;
}

#intro-info {

    font-size: 1.3rem;
    color:black;
}

body {
    
    
    background-color: white;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
    margin:0;
    box-sizing: border-box;
    min-height: 100vh;
}



button {
    
    background-color:rgba(60, 250, 60, 0.699);
    color:#293264;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size:1.2rem;
    font-weight: bold;
}

#check-answers-btn, #play-again-btn, #start-btn {

    border:none;
}



.dark-mode-btn {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    min-width: 80vw;
    
    
}

.dark-mode-btn button {

    border-radius: 30px;
    background-color: #293264;
    color: #fff;
    width: 100px;
    border:none;
}



/* FIRST PAGE STYLES */

.intro-section {
    
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
   text-align: center;
    min-height: 100vh;
    
    
}


.intro-page {

    min-height: 60vh;
    
}



/* SECOND PAGE STYLES */


.questions-section {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}




.questions {
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding-left:1.5rem;
    padding-right: 1.5rem;
    padding-top:1.5rem;
    min-width: 50vw;
    
}





.questions-list {
   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 4px 4px 10px rgba(4, 0, 24, 0.521);
    border-radius: 10px;
    background-color: #3cfa3cb2;
    padding-left:10px;
    padding-right: 10px;
    animation: skeletonAnimation 0.5s forwards;
    
}

.questions-list li {

    padding:0.3rem;
    border-radius:6px;
    cursor: pointer;
    margin:10px;
    font-weight: 700;
    box-shadow: 4px 4px 10px #00000041;
    background-color: #fff;
    color:#121c55;
}

.questions-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}




.line-break {
    
    border:1px solid #293264;
    margin-top: 40px;
}


footer {

    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin:1.5rem;
    gap:20px;
    min-height: 100px;
}





/* CONDITIONAL STYLES 
---------------------*/


  
.skeleton {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding-top:2rem;
   min-width: 80vw;
   min-height: 70vh;
    padding-left:20px;
    padding-right: 20px;
    
  }

  .skeleton-text {

    background-color:transparent;
    height: 40px;
    border-radius: 5px;
  }

.darkSkeleton {

    background-color: #1a1624;

}

.darkSkeleton li {

    background-color: #a6b3ee;
    border: 2px solid black;
    
}



.questions-list .darkThemeAnswer {

    background-color:transparent;
    border:1px solid black;
    color: black;
}




#error {
    
    display: flex;
    justify-content: center;
    text-align: center;

}

#result {
    animation: skeletonAnimation 0.5s forwards;
}


#alert {
color:rgb(223, 89, 0);
animation: skeletonAnimation 0.5s forwards;
background-color: white;
border:1px solid orange;
border-radius: 10px 10px 10px 0px;
padding:8px;

}



/* ANIMATIONS */ 

@keyframes darkModeToggle {
    0% {
        background-color: #fff;
        color:#293264;
    }
    100% {
        background-color: #1a1624;
        color:#fff;
    }
}

@keyframes lightModeToggle {
    0% {
        background-color: #1a1624;
        color:#fff;
    }
    100% {
        background-color: #fff;
        color:#293264;
    }
}

.nightTheme {

    animation: darkModeToggle 0.5s forwards;
}

.dayTheme {

    
    animation: lightModeToggle 0.5s forwards;
}


@keyframes skeletonAnimation {

    0% {
        opacity:0;
        
       
    }

    100% {
        
        opacity: 1;
        
        
    }
}

