
* {

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {

    
    font-weight: 800;
    font-size:1.3rem;
    
}


#intro-title {

    font-size:2.5rem;
  
}

#intro-info {

    font-size: 1.3rem;
    color:black;
}

body {
    
    
    background-color: white;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    
}

button {
    
    background-color:#23e41196;
    color:#293264;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size:1.2rem;
    border:none;
    font-weight: bold;
}

.intro-page {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    
    
}

.intro-section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.questions-page {
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    min-width: 60vw;
    padding-left:30px;
    padding-right: 30px;
   
}

.questions-section {


min-width: 100vw;

}

#questions-list {
   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 4px 4px 10px rgba(4, 0, 24, 0.521);
    border-radius: 10px;
    background-color: #23e41196;
}

#questions-list li {

    padding:0.4em;
    border-radius:8px;
    cursor: pointer;
    margin:10px;
    color:#293264;
    font-weight: 700;
    background-color: white;
    box-shadow: 4px 4px 10px #00000041;
}

.line-break {
    
    border:1px solid #293264;
    margin-top: 40px;
  
}


footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem;
    
   
}

.result {
    
    display: none;
}

.active {

    display: block;
}



  
  .skeleton {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 70vw;
    height: 100vh;
    padding-left:20px;
    padding-right: 20px;
    gap:1rem;
  }




.toggleBtn {
    
    background-color: white;
    border:3px solid #293264;
    border-radius: 30px;
    padding:15px;
    margin:20px;
    font-size:0.9rem;
    cursor: pointer;
    font-weight: bold;

}


.toggle-night {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    

}



.night {

    background-color: #293264;
    color:white;

}

.day {

    background-color: white;
    color:#293264;
}


