
/* GENERAL */

* {

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {

    font-weight: 800;
    font-size:1.2rem;
    color:#293264;
}


#intro-title {

    font-size:2.5rem;
    color:#293264;
}

#intro-info {

    font-size: 1.3rem;
    color:black;
}

body {
    
    
    background-color: white;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    
}

button {
    
    background-color:#71c969c7;
    color:#293264;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size:1.2rem;
    border:none;
    font-weight: bold;
}


/* FIRST PAGE STYLES */

.intro-page {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   text-align: center;
  
}

.intro-section {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;

}


/* SECOND PAGE STYLES */



.questions {
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding-left:1.5rem;
    padding-right: 1.5rem;
    padding-top:1.5rem;
   
}




#questions-list {
   
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 4px 4px 10px rgba(4, 0, 24, 0.521);
    border-radius: 10px;
    background-color: #71c969c7;
    padding-left:10px;
    padding-right: 10px;
}

#questions-list li {

    padding:0.3rem;
    border-radius:6px;
    cursor: pointer;
    margin:10px;
    color:#293264;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 4px 4px 10px #00000041;
}



.line-break {
    
    border:1px solid #293264;
    margin-top: 40px;
  
}


footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem;
    
}



/* CONDITIONAL STYLES 
---------------------*/

.result {
    
    display: none;
}

.active {

    display: block;
}

  
  .skeleton {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
   min-width: 80vw;
   min-height: 100vh;
    padding-left:20px;
    padding-right: 20px;
   
  }


 


.nightTheme {

    background-color: #1a1624;
    color:#fff;
}

.dayTheme {

    background-color: #fff;
    color:#293264;
}

.questions-section {


   min-width: 100vw;
   min-height: 100vh;
}

#questions-list .darkThemeAnswer {

    background-color: transparent;
    border:1px solid #100e29;
    color: #100e29;
}
